# Web y tareas
fastapi==0.95.0
uvicorn==0.21.1
celery==5.2.7
flower==1.2.0
redis==4.5.4
httpx==0.23.3
requests==2.31.0
aiofiles==23.1.0
Jinja2==3.1.2

# Testing
pytest==7.2.2

# Modelos y procesamiento
torch==2.2.0
numpy==1.24.4
tqdm==4.66.2
yt-dlp
llama-cpp-python==0.2.41
